FRONTEND_ORIGINS=http://localhost:3000
FRONTEND_ORIGIN_REGEX=^https://.*\.ngrok-free\.dev$
JWT_SECRET_KEY=change-this-in-production
JWT_EXPIRE_MINUTES=120
ADMIN_LOGIN_ID=admin
ADMIN_LOGIN_PASSWORD=1111
